In [1]:
# The code was removed by Watson Studio for sharing.

,OBJECT TYPE,OBJECT ID,SERVICE TYPE,PREF MONTH,NOTE,FREQ,LAST SERV DATE,NEXT SERV DATE
0,I,2981781,PM,2020-08-01,NaN,12,NaN,2020-08-31
1,I,3045950,PM,2020-07-01,NaN,12,NaN,2020-07-31
2,I,3059006,PM,2020-07-09,NaN,12,NaN,2020-07-31
3,I,9230318,PM,2020-07-13,NaN,12,NaN,2020-07-31
4,I,9230998,PM,2020-07-17,NaN,12,NaN,2020-07-31